<p id="notice"><%= notice %></p>

<p>
  <strong>Secret:</strong>
  <%= @tweeet.tweeet %>
</p>
<% if current_user == @tweeet.user %>
  <p class="control">
    <%= link_to 'Edit', edit_tweeet_path(@tweeet) %>
  </p>
  <% end %>
<%= link_to 'Back', tweeets_path %>
