/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

@font-face {
    font-family: 'titulo';
    src: url(/app/assets/fonts/Royante.ttf);
}

body {
    background-image: url(/app/assets/images/background.jpg);
    font-family: titulo;
}

.navbar-brand .title {
    color: white;
    font-size: 3em;
}

.icon > i {
    color: white;
}

.panel {
    background-image: linear-gradient(rgb(146, 58, 7) 30%, rgb(78, 25, 9));
}

.panel-heading {
    background-color: rgb(78, 25, 9);
    color: white;
    font-weight: 900;
    font-size: 1.2em;
}

.panel-block {
    color: white;
    font-size: 1em;
    font-weight: 600;
}

.textarea::placeholder {
    color: rgba(78, 25, 9, 0.55);
}

.box {
    background-image: linear-gradient(rgb(146, 58, 7) 1%, rgb(78, 25, 9));
}

.panel-block:hover {
    background-image: linear-gradient(rgb(139, 58, 0) 60%, rgb(71, 25, 2));
    color: white;
    transform: scale(0.98);
}

.label {
    color: white;
    font-size: 1.2em;
}

.content > p {
    color: white;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}

.level {
    justify-content: center;
}

.button {
    color: white;
    border: 0;
    height: 100%;
    margin: 0;
    border-radius: 0;
    font-weight: 600;
    background-image: linear-gradient(rgb(146, 58, 7) 60%, rgb(78, 25, 9));
}

.button:hover {
    transform: scale(0.99);
}

.navbar-item:hover, .button:hover {
    color: white;
    background-image: linear-gradient(rgb(139, 58, 0) 60%, rgb(71, 25, 2));
}

.image {
    border-radius: 50%;
    img {
        border-radius: 50%;
    }
}

.notification:not(:last-child) {
    margin-bottom: 0;
}
.field.is-grouped > .control:not(:last-child) {
    margin: 0;
}

.is-outlined {
    border: 0;
}

.login {
    color: white;
    height: 100%;
    margin: 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
}

.notice, .alert {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.navbar-background {
    background-image: linear-gradient(rgb(146, 58, 7) 60%, rgb(78, 25, 9));
}
